@import 'styles/fonts';
@import 'styles/colors';
@import 'styles/variables';

//components
@import 'styles/header';
@import 'styles/navigation-menu';

//pages
@import 'pages/home-page/HomePage';
@import 'pages/about-page/AboutPage';
@import 'pages/documents-page/DocumentsPage';
@import 'pages/events-page/EventsPage';
@import 'pages/join-page/JoinPage';

html, body {
  padding: 0;
  margin: 0;
  font-family: @room-thin;
}

body {
  background-color: @background-color;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 15%;
}




