<header>
    <section class="header-wrapper">
        <div class="container header">
            <div class="header__social-media-links-container">
                <ul class="list">
                    <li><a class="icon-let list-item" href="mailto:akaut777@ukr.net"></a></li>
                    <li><a class="icon-facebook2 list-item" href="https://www.facebook.com/NVPatriot/"></a></li>
                    <li><a class="icon-instagram list-item" href="https://instagram.com/nevidomyi_patriot?igshid=1mn5f5yw2l3pc"></a></li>
                    <li><a class="icon-youtube2 list-item" href="https://www.youtube.com/channel/UCgHw0tAvhSepimGMByID7RQ"></a></li>
                </ul>
            </div>
            <div class="header__phone-numbers-container">
                <ul class="list">
                    <li>
                        <a class="icon-phone list-item" href="tel:+380997674914">
                            <span class="list-item__text">+38 (099) 767 4914</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</header>