<section class="navigation-container container">
    <div class="navigation-container__logo">
        <a href=""><img class="navigation-container__logo-image" src="assets/images/logo.png" alt=""></a>
    </div>
    <div class="navigation-container__navigation-menu">
        <ul class="list">
            <li><a class="list-item" href="">
                <span class="list-item__text">Про нас</span>
                <img class="list-item__image about-us-image" src="assets/images/about.png" alt="">
            </a></li>
            <li><a class="list-item" href="">
                <span class="list-item__text">Нормативні акти</span>
                <img class="list-item__image document-image" src="assets/images/documents.png" alt="">
            </a></li>
            <li><a class="list-item" href="">
                <span class="list-item__text">Заходи</span>
                <img class="list-item__image events-image" src="assets/images/events.png" alt="">
            </a></li>
            <li><a class="list-item" href="">
                <span class="list-item__text">Долучитися</span>
                <img class="list-item__image join-image" src="assets/images/join.png" alt="">
            </a></li>
        </ul>
    </div>
</section>