<section class="navigation-container container">
    <div class="navigation-container__logo">
        <a href=""><img class="navigation-container__logo-image" src="assets/images/logo.png" alt=""></a>
    </div>
    <div class="navigation-container__navigation-menu">
        <ul class="list">
            <li><a class="list-item" href="">
                <span class="list-item__text">Про нас</span>
                <div class="list-item__image icon-about  about-us-image"></div>
            </a></li>
            <li><a class="list-item" href="">
                <span class="list-item__text">Нормативні акти</span>
                <div class="list-item__image icon-documents document-image"></div>
            </a></li>
            <li><a class="list-item" href="">
                <span class="list-item__text">Заходи</span>
                <div class="list-item__image icon-events events-image"></div>
            </a></li>
            <li><a class="list-item" href="">
                <span class="list-item__text">Долучитися</span>
                <div class="list-item__image icon-join join-image"></div>
            </a></li>
        </ul>
    </div>
</section>