@import "../../styles/colors";
@import "../../styles/variables";

.home-page {
  color: @text-color;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: @aa-duke-fill;
  text-transform: uppercase;

  &__text {
    &--first-line {

    }
    &--second-line {
      color: @orange-color;
    }
  }

  &__image {
    height: 240px;
    padding: 20px;
  }
}