@import './colors';

.header-wrapper {
  background-color: @orange-color;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    &__social-media-links-container {
      font-size: 22px;

      .list-item {
        padding-right: 15px;
      }
    }

    &__phone-numbers-container {
      letter-spacing: 0;

      .list-item{
        padding-left: 15px;
      }
    }
  }

  .list {
    display: flex;
    text-decoration: none;
    list-style : none;

    &-item {
      text-decoration: none;
      color: @background-color;

      &:hover {
        color: @icon-hovering-color;
      }

      &__text {
        font-weight: bold;
        font-family: @room-bold;
      }
    }
  }
}