@import './colors';
@import './variables';

.header-wrapper {
  background-color: @main-color;
  font-size: @header-font-size;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__social-media-links-container {
      font-size: 22px;
      padding: 5px;

      .list-item {
        padding-right: 15px;
      }
    }

    &__phone-numbers-container {
      letter-spacing: 0;
      padding: 5px 0;

      .list-item{
        padding-left: 15px;
      }
    }
  }

  .list {
    display: flex;
    text-decoration: none;
    list-style : none;

    &-item {
      text-decoration: none;
      color: @background-color;

      &:hover {
        color: @icon-hovering-color;
      }

      &__text {
        font-weight: bold;
        font-family: @room-bold;
      }
    }
  }
}

@media @smartphones-small-screen {
  .header {
    flex-direction: column;
  }

  .list-item {
    padding: 15px;
  }
}