@import './colors';
@import './variables';

.navigation-container {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  font-size: @navigation-font-size;
  border-bottom: 1px solid @main-color;

  &__logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    &-image {
      height: 120px;
      width: unset;
    }
  }

  &__navigation-menu {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-decoration: none;
    list-style : none;
    width: 100%;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
      align-items: center;
      padding: 10px;
      color: @main-color;

      &__image {
        width: 52px;
        padding: 10px;
      }

      &__text {
        color: @text-color;
        font-family: @room-bold;
        word-break: keep-all;
      }

      &:hover {
        text-shadow: 0 0  2px @icon-hovering-color;
      }
    }
  }

  .about-us-image {
    width: auto;
    height: 60px;
  }

  .document-image {
    width: auto;
    height: 48px;
    padding-top: 16px;
  }

  .events-image {
    width: auto;
    height: 48px;
    padding-top: 17px;
  }

  .join-image {
    width: auto;
    height: 40px;
    padding-top: 22px;
  }
}

@media @smartphones {
  .navigation-container {
    flex-direction: column;
    align-items: center;

    &__logo {
      width: 100%;
    }

    &__navigation-menu {
      width: 100%;
    }

    .list {
      flex-wrap: wrap;
    }
  }
}